// Define variables for your color scheme

// For example:
$dark-green: #009A80;
$medium-green: #00CAB5;
$light-green: #00D7BC;
$red: #EE0000;
$orange: #FF8B00;
$yellow: #FFCF00;
$gray: #2D2D2D;
$white: #FFFFFF;
