<div class="container">

  <!-- BUTTONS -->
  <h3 class="mt-3">Buttons</h3>
  <hr style="background-color: white" class="mb-3">

  <!-- Large Buttons -->

  <!-- plain red -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block">large button</button>

  <!-- outlined red -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block">
    <div class="vroom-inmod btn btn-lg btn-block">
      <span class="red-text">large button</span>
    </div>
  </button>

  <!-- plain green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">large button</button>

  <!-- outlined green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">
    <div class="vroom-inmod btn btn-lg btn-block">
      <span class="green-text">large button</span>
    </div>
  </button>


  <!-- Small Buttons -->

  <!-- plain red -->
  <button type="button" class="mt-3 vroom-btn-sm vroom-red btn btn-primary btn-lg">small button</button>

  <!-- outline red -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg">
    <div class="vroom-inmod-sm btn btn-lg btn-block">
      <span class="red-text">small button</span>
    </div>
  </button>

  <!-- plain green -->
  <button type="button" class="mt-3 vroom-btn-sm vroom-green btn btn-primary btn-lg">small button</button>

  <!-- outlined green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg">
    <div class="vroom-inmod-sm btn btn-lg btn-block">
      <span class="green-text">small button</span>
    </div>
  </button>

</div>
