<div class="container">

  <!-- BUTTONS -->
  <h3 class="mt-3 text-center"><i class="far fa-hand-pointer"></i> Buttons</h3>
  <hr style="background-color: white" class="mb-3">

  <!-- ---------------- Large Buttons ---------------- -->

  <!-- plain red -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block">lg btn</button>

  <!-- outlined red -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block">
    <div class="vroom-inmod btn btn-lg btn-block">
      <span class="red-text">lg btn</span>
    </div>
  </button>

  <!-- plain green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">lg btn</button>

  <!-- outlined green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">
    <div class="vroom-inmod btn btn-lg btn-block">
      <span class="green-text">lg btn</span>
    </div>
  </button>


  <!-- ---------------- Small Buttons ---------------- -->
  <div class="d-flex justify-content-between">
    <!-- plain red -->
    <button type="button" class="mt-3 vroom-btn-sm vroom-red btn btn-primary btn-lg">sm btn</button>

    <!-- outline red -->
    <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="red-text">sm btn</span>
      </div>
    </button>

    <!-- plain green -->
    <button type="button" class="mt-3 vroom-btn-sm vroom-green btn btn-primary btn-lg">sm btn</button>

    <!-- outlined green -->
    <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="green-text">sm btn</span>
      </div>
    </button>
  </div>

  <!-- ---------------- Round Buttons ---------------- -->
  <div class="d-flex justify-content-around">
    <!-- plain red -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-red btn btn-primary btn-lg"><i class="fas fa-times"></i></button>

    <!-- outline red -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-red btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="red-text"><i class="fas fa-times"></i></span>
      </div>
    </button>

    <!-- plain green -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-green btn btn-primary btn-lg"><i class="fas fa-times"></i></button>

    <!-- outlined green -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-green btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="green-text"><i class="fas fa-times"></i></span>
      </div>
    </button>
  </div>

  <br>

  <!-- CARDS -->
  <h3 class="mt-3 text-center"><i class="far fa-image"></i> Cards</h3>
  <hr style="background-color: white" class="mb-3">

  <!-- ---------------- Horizontal card ---------------- -->
  <div class="vroom-card card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://rivierabarcrawltours.com/wp-content/uploads/2020/03/where-is-monaco-located.-pic-1.jpg" class="vroom-card-img card-img" alt="Hello">
      </div>
      <div class="col-md-8">
        <div class="card-body h-100 d-flex flex-column justify-content-between">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

</div>
