<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501940740999-480321d51e5a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
  <div class="container">
    <h1 class="text-center">Bannière</h1>
  </div>
</div>

<div class="container" style="margin-bottom: 65px">

  <%= link_to "retour à la home", root_path, class: "mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block" %>

  <!-- BUTTONS -->
  <h3 class="mt-3 text-center"><i class="far fa-hand-pointer"></i> Buttons</h3>
  <hr style="background-color: white" class="mb-3">

  <!-- ---------------- Large Buttons ---------------- -->

  <!-- plain red -->

  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block">lg btn</button>

  <!-- outlined red -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block">
    <div class="vroom-inmod btn btn-lg btn-block">
      <span class="red-text">lg btn</span>
    </div>
  </button>

  <!-- plain green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">lg btn</button>

  <!-- outlined green -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">
    <div class="vroom-inmod btn btn-lg btn-block">
      <span class="green-text">lg btn</span>
    </div>
  </button>


  <!-- ---------------- Small Buttons ---------------- -->
  <div class="d-flex justify-content-between">
    <!-- plain red -->
    <button type="button" class="mt-3 vroom-btn-sm vroom-red btn btn-primary btn-lg">sm btn</button>

    <!-- outline red -->
    <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="mx-2 red-text">sm btn</span>
      </div>
    </button>

    <!-- plain green -->
    <button type="button" class="mt-3 vroom-btn-sm vroom-green btn btn-primary btn-lg">sm btn</button>

    <!-- outlined green -->
    <button type="button" class="mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="mx-2 green-text">sm btn</span>
      </div>
    </button>
  </div>

  <!-- ---------------- Round Buttons ---------------- -->
  <div class="d-flex justify-content-around">
    <!-- plain red -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-red btn btn-primary btn-lg"><i class="fas fa-times"></i></button>

    <!-- outline red -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-red btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="red-text"><i class="fas fa-times"></i></span>
      </div>
    </button>

    <!-- plain green -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-green btn btn-primary btn-lg"><i class="fas fa-times"></i></button>

    <!-- outlined green -->
    <button type="button" class="mt-3 vroom-btn-rd vroom-green btn btn-primary btn-lg">
      <div class="vroom-inmod-sm btn btn-lg btn-block">
        <span class="green-text"><i class="fas fa-times"></i></span>
      </div>
    </button>
  </div>

  <br>

  <!-- CARDS -->
  <h3 class="mt-3 text-center"><i class="far fa-image"></i> Cards</h3>
  <hr style="background-color: white" class="mb-3">

  <!-- ---------------- Horizontal card ---------------- -->
  <div class="vroom-card vroom-border-green card mb-3">
    <div class="row no-gutters">
      <div class="col-4">
        <img src="https://rivierabarcrawltours.com/wp-content/uploads/2020/03/where-is-monaco-located.-pic-1.jpg" class="vroom-card-img card-img" alt="Hello">
      </div>
      <div class="col-8">
        <div class="vroom-card-body card-body h-100 d-flex flex-column justify-content-between">
          <h4 class="card-title">Nom de la course</h4>
          <p class="card-text font-weight-light">Date de la course</p>
          <p class="card-text font-weight-bold">Nombre de tours</p>
          <p class="card-text"><small class="text-muted">Météo</small></p>
        </div>
      </div>
    </div>
  </div>

  <!-- ---------------- Big card ---------------- -->
  <div class="vroom-card vroom-border-red card mb-3">
    <div class="vroom-card-body card-body text-center">
      <h3 class="card-title">Team Name</h3>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <div class="my-1 d-flex justify-content-around">
        <div class="vroom-medal vroom-team-logo"><i class="fas fa-horse"></i></div>
        <div class="vroom-medal vroom-team-info d-flex flex-column justify-content-center"><i class="fas fa-trophy"></i>P4</div>
        <div class="vroom-medal vroom-team-info d-flex flex-column justify-content-center"><i class="fas fa-chart-line"></i>456pts</div>
      </div>
      <div class="mb-1 d-flex justify-content-around">
        <button type="button" class="mx-1 mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">
          <div class="vroom-inmod btn btn-lg btn-block">
            <span class="green-text">lg btn</span>
          </div>
        </button>
        <button type="button" class=" mx-1 mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">lg btn</button>
      </div>
    </div>
  </div>

  <!-- MODAL -->
  <h3 class="mt-3 text-center"><i class="fas fa-expand"></i> Modal</h3>
  <hr style="background-color: white" class="mb-3">

  <!-- Button trigger modal -->
  <button type="button" class="mt-3 vroom-btn-lg vroom-red btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
    ouvrir la modale
  </button>

  <!-- Modal -->
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="vroom-modal modal-content animate-bottom pb-2">
        <div class="mt-1 d-flex justify-content-center">
          <h4 class="modal-title text-center" id="exampleModalLabel">Titre de la modale</h4>
        </div>
        <div class="mb-2 vroom-modal-body modal-body">
          <p>Contenu de la modale</p>
          <p>Contenu de la modale</p>
          <p>Contenu de la modale</p>
          <div class="mb-1 d-flex justify-content-around">
            <button type="button" class="mr-1 mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block" data-dismiss="modal">
              <div class="vroom-inmod btn btn-lg btn-block">
                <span class="green-text">fermer</span>
              </div>
            </button>
            <button type="button" class="ml-1 mt-3 vroom-btn-lg vroom-green btn btn-primary btn-lg btn-block">ok</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Nav Bar -->
<div class="px-3 fixed-bottom mt-2 vroom-navbar d-flex justify-content-around bd-highlight">
  <div class="btn btn-lg">Menu 1</div>
  <div class="vroom-divider my-2"></div>
  <div class="btn btn-lg active">Menu 2</div>
  <div class="vroom-divider my-2"></div>
  <div class="btn btn-lg">Menu 3</div>
</div>
