.vroom-btn {
  border-radius: 24px;
  height: 44px;
  font-family: "Righteous";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

// large buttons => full screen
.vroom-red-large {
  background-color: $red;
}

.vroom-outline-red-large {
  border: solid 4px $red;
  color: $red;
  background-color: $gray;
}

.vroom-green-large {
  background-color: $green;
}

.vroom-outline-green-large {
  border: solid 4px $green;
}

// medium buttons => text fit
.vroom-red-medium {

}

.vroom-outline-red-medium {

}

.vroom-green-medium {

}

.vroom-outline-green-medium {

}

// small buttons => round icon
.vroom-red-small {

}

.vroom-outline-red-small {

}

.vroom-green-small {

}

.vroom-outline-green-small {

}
