.vroom-btn-lg {
  font-family: "Righteous";
  padding: 4px;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.vroom-btn-sm {
  font-family: "Righteous";
  padding: 4px 8px;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

.vroom-btn-rd {
  font-family: "Righteous";
  padding: 4px;
  width: 38px;
  &:focus {
    border: none;
    box-shadow: none;
  }
}

// buttons
.vroom-red {
  background: linear-gradient(90deg, #EE0000 0%, #FFCF00 100%);
  border: none;
}

.vroom-inmod {
  padding: 0px;
  margin: 0px;
  border: none;
  background: $gray;
}

.vroom-inmod-sm {
  padding: 0px 0px;
  margin: 0px;
  border: none;
  background: $gray;
}

.red-text {
  background: linear-gradient(90deg, #EE0000 0%, #FFCF00 100%);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
}

.green-text {
  background: linear-gradient(90deg, #009A80 0%, #00D7BC 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.vroom-green {
  background: linear-gradient(90deg, #009A80 0%, #00D7BC 100%);
  border: none;
}
