.vroom-modal {
  background-color: $primary;
  width: 100vw;
  margin: -8px;
  border-radius: 24px 24px 0px 0px;

  position:fixed;
  top:auto;
  right:auto;
  left:auto;
  bottom:0;

  .vroom-modal-body {
    background-color: $gray;
    margin: 8px;
    border-radius: 24px;
  }
}

.animate-bottom {
  animation: animatebottom 0.4s;
}

@keyframes animatebottom {
  from {
    bottom: -100vh;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
